@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, 
body {
    height: 100%;
    font-family: 'Inter', sans-serif;
}

#container {
    display: flex;
    background-color: white;
    height: 100%;

    align-items: center;
    flex-direction: column;
}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#board {
    display: grid;
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.square {
    border: 2px solid rgb(58, 58, 60);
    min-width: 80px;
    min-height: 80px;
    font-size: 50px;
    font-weight: bold;
    background-color: white;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}